:root {
    --color-black: #000000;
    --color-dark-gray: #6e6e6e;
    --color-medium-gray: #9c9c9c;
    --color-light-gray: #cccccc;
    --color-darkest-gray: #171717;
    --color-orange: #ff8547;
    --color-white: #ffffff;
    --color-green: #1fc16b;
    --color-darker-gray: #242424;
    --color-transparent-black: rgba(0, 0, 0, 0);
    --color-light-gray-opacity-24: rgba(153, 160, 174, 0.24);
    --color-dark-gray-opacity-80: rgba(20, 20, 20, 0.80);
    --color-orange-opacity-10: rgba(255, 145, 71, 0.10);
    --color-green-opacity-16: rgba(31, 193, 107, 0.16);
}