@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('./styles/_about.css');
@import url('./styles/_footer.css');

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

:root {
  --color-black: #000000;
  --color-dark-gray: #6e6e6e;
  --color-medium-gray: #9c9c9c;
  --color-light-gray: #cccccc;
  --color-darkest-gray: #171717;
  --color-orange: #ff8547;
  --color-white: #ffffff;
  --color-green: #1fc16b;
  --color-darker-gray: #242424;
  --color-transparent-black: rgba(0, 0, 0, 0);
  --color-light-gray-opacity-24: rgba(153, 160, 174, 0.24);
  --color-dark-gray-opacity-80: rgba(20, 20, 20, 0.80);
  --color-orange-opacity-10: rgba(255, 145, 71, 0.10);
  --color-green-opacity-16: rgba(31, 193, 107, 0.16);
}

* {
  min-height: 0;
  min-width: 0;
  outline: none;
  font-family: "Inter", serif;

}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid var(--color-light-gray);
}

body {
  background-color: var(--color-darkest-gray);
  margin: 0;
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1216px;
  width: 100%;
}

header div .btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-left: auto;
}

header div .btns .headerBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--color-darker-gray);
  border-width: 1px;
  border-color: transparent;
  border-radius: 10px;
  height: 40px;
  outline-offset: 2px;
  outline-width: 0;
  outline-style: solid;
  color: var(--color-medium-gray);
  font-weight: 500;
  font-size: 0.875rem;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: inherit;
}

header div .btns #flokiBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--color-darker-gray);
  border-width: 1px;
  border-color: transparent;
  border-radius: 10px;
  height: 40px;
  outline-offset: 2px;
  outline-width: 0;
  outline-style: solid;
  color: var(--color-orange);
  background-color: var(--color-orange-opacity-10);
  font-weight: 500;
  font-size: 0.875rem;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: inherit;
}

.claim-content {
  padding: 108px 16px 76px 16px;
  position: relative;
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
}

.claim-content .img1 {
  color: transparent;
  position: absolute;
  top: 130px;
  left: 10%;
  z-index: 2;
  max-width: 100%;
  height: auto;
}

.claim-content .img2 {
  color: transparent;
  position: absolute;
  top: 218px;
  right: 10%;
  z-index: 2;
  max-width: 100%;
  height: auto;
}

.claim-content .img3 {
  color: transparent;
  position: absolute;
  bottom: 80px;
  left: 12%;
  z-index: 2;
  max-width: 100%;
  height: auto;
}

.claim-bg-circles {
  mask-image: linear-gradient(180deg, var(--color-black) 40%, transparent);
  transform: translate(-50%, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  width: 1074px;
  height: 1074px;
  z-index: 1;
  position: absolute;
  top: 64px;
  left: 50%;
}

.claim-bg-circles div {
  width: 100%;
  height: 100%;
  position: relative;
}

.claim-bg-circles div .circle-one,
.claim-bg-circles div .circle-two,
.claim-bg-circles div .circle-three,
.claim-bg-circles div .circle-four,
.claim-bg-circles div .circle-five {
  border: 1px solid var(--color-darker-gray);
  border-radius: 9999px;
  transform: translate(-50%, -50%) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  position: absolute;
  top: 50%;
  left: 50%;
}

.claim-bg-circles div .circle-one {
  width: 556px;
  height: 556px;
}

.claim-bg-circles div .circle-two {
  width: 679px;
  height: 679px;
}

.claim-bg-circles div .circle-three {
  width: 796px;
  height: 796px;
}

.claim-bg-circles div .circle-four {
  width: 930px;
  height: 930px;
}

.claim-bg-circles div .circle-five {
  width: 1074px;
  height: 1074px;
}

.claim-content .claim-text .airdrop-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

#airdrop-checker {
  font-weight: 500;
  font-size: 0.688rem;
  line-height: 1.09;
  color: var(--color-light-gray);
  letter-spacing: 0.02em inherit;
  text-transform: uppercase;
  padding: 2px 8px 2px 8px;
  background-color: var(--color-light-gray-opacity-24);
  border-radius: 9999px;
  text-align: center;
}

.claim-content .claim-text div h1 {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 1.2;
  letter-spacing: -0.01em inherit;
  text-align: center;
  max-width: 640px;
  margin-top: 24px;
  color: var(--color-white);
}

.claim-content .claim-text div p {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.33;
  letter-spacing: -0.015em inherit;
  text-align: center;
  max-width: 524px;
  margin-top: 24px;
  color: var(--color-medium-gray);
}

.input-container {
  width: 100%;
  margin-top: 32px;
  max-width: 42rem;
  padding: 20px 10px;
  border-radius: 24px;
  border-width: 1px;
  border-color: var(--color-darker-gray);
  max-width: 672px;
  box-shadow: 0px 0px 3px 1px var(--color-darkest-gray);
  outline-width: 2px;
}

.grid-input {
  display: grid;
  grid-template-columns: 4fr auto;
  align-items: flex-start;
  gap: 16px;
}

@media (max-width: 767px) {
  .grid-input {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  #telegramBtn,
  #discordBtn {
    display: none;
  }
}

.input-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
  border: 1px solid var(--color-darker-gray);
  border-radius: 10px;
  width: 100%;
  padding: 0 10px;
}

.input-section input {
  padding-left: 40px;
  padding-right: 12px;
  background-color: var(--color-darkest-gray);
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  color: var(--color-white);
}

.input-section-btn {
  height: 40px;
  color: var(--color-white);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.42;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--color-orange);
  border-radius: 10px;
  cursor: pointer;
}

/* ---------- About -----------  */

#about {
  background-repeat: no-repeat;
  background-image: url('./assets/images/asset 9.png');
  background-position: 50%;
  background-size: cover;
}

#about .max-w-content {
  max-width: 1200px;
  margin: 0 auto;
}

#about .content-wrapper {
  padding: 8rem 1rem;
}

#about .w-full {
  width: 100%;
}

#about .max-w-\[605px\] {
  max-width: 605px;
}

#about .monkey-icon {
  width: 326px;
  height: 40px;
  color: transparent;
}

#about .size-14 {
  width: 3.5rem;
  height: 3.5rem;
}

#about .section-title {
  color: var(--color-white);
  display: block;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.33;
  margin-top: 2rem;
  line-height: 1.2;
}

#about .section-description {
  color: var(--color-white);
  display: block;
  font-size: 1rem;
  letter-spacing: -0.011em;
  line-height: 1.5;
  margin-top: 1.5rem;
}

#about .section-button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  line-height: 1.42;
  font-weight: 500;
  transition: all 0.3s ease;
  gap: 0.5rem;
  background-color: var(--color-orange);
  color: var(--color-white);
  padding: 0 0.625rem;
  border-radius: 10px;
  margin-top: 1.5rem;
  width: fit-content;
  outline: none;
  outline-offset: 2px;
}

#about .section-button:hover {
  background-color: var(--color-white);
  color: var(--color-orange);
}

#about .section-button:focus-visible {
  outline: 2px solid var(--information-light);
}


/* ---------- Footer -----------  */

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.footer {
  background-color: var(--color-darkest-gray);
  color: var(--color-white);
  overflow-x: hidden;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 16px 0 16px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 32px;
}

@media (max-width: 767px) {
  .footer-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 16px;
  }

  .section-7fr,
  .section-5fr {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 7fr 5fr;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-brand {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-icon {
  width: 65px;
  height: 66px;
}

.footer-brand-title {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.33;
}

.footer-brand-description {
  font-size: 0.875rem;
  color: var(--color-medium-gray);
  line-height: 1.42;
}

.footer-social-links {
  display: flex;
  gap: 16px;
  list-style: none;
}

.footer-social-links li a {
  color: var(--color-white);
}

.social-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}


.footer-resources-title {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.footer-resources-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  font-size: 0.875rem;
  color: #6b7280;
  margin-top: 1.5rem;
  width: 236px;
  justify-content: flex-start;
  height: 132px;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.footer-resources-list a {
  font-size: 0.875rem;
  color: var(--color-medium-gray);
  text-decoration: none;
}

.footer-contact {
  margin-top: 24px;
}

.footer-contact-notice {
  font-size: 0.75rem;
  color: var(--color-green);
  background-color: var(--color-green-opacity-16);
  padding: 4px 8px;
  border-radius: 4px;
  width: max-content;
}

.footer-contact-buttons {
  display: flex;
  gap: 26px;
  margin-top: 24px;
}

@media screen and (max-width:500px) {
  .footer-contact-buttons {
    flex-direction: column;
  }
}

.footer-contact-button {
  background-color: var(--color-darker-gray);
  padding: 16px;
  border-radius: 12px;
  text-decoration: none;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
}

.footer-contact-icon {
  width: 32px;
  height: 32px;
}

.footer-contact-label {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 16px;
}

.footer-contact-description {
  font-size: 0.75rem;
  color: var(--color-medium-gray);
  margin-top: 4px;
}

.footer-contact-email {
  color: var(--color-white);
}

.footer-image {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-coin {
  width: 464px;
  height: 455px;
}


.footer-contract {
  margin-top: 48px;
}

.footer-contract-label {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
}

.footer-contract-addresses {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.footer-contract-address {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-contract-value {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: var(--color-darker-gray);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
}

.footer-contract-button {
  background-color: var(--color-orange-opacity-10);
  color: var(--color-orange);
  border: none;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
}

.footer-bottom {
  border-top: 1px solid var(--color-dark-gray);
  padding: 48px 0;
  display: flex;
  margin-top: 3rem;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}

.footer-copyright {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
}

.footer-links ul {
  display: flex;
  gap: 24px;
  list-style: none;
}

.footer-link {
  font-size: 0.875rem;
  color: var(--color-medium-gray);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-link:hover {
  color: var(--color-white);
}

@media (max-width:500px) {
  .footer-image {
    align-items: start;
  }

  .footer-contract-addresses {
    flex-direction: column;
  }

  .footer-coin {
    width: 350px;
    height: 350px;
  }

  .footer-contact-notice {
    width: unset;
    line-height: 20px;
  }

  .footer-bottom {
    padding: 1rem;
    gap: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}